<!DOCTYPE html>
<html lang="es-es">
  {% load static %}
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pooking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    
    <!-- Bootstrap core CSS 
    <link href="{% static "reviews/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
    <script src="{% static "reviews/vendor/bootstrap/js/bootstrap.min.js"%}"></script>
    -->

    <!-- jQuery 
    <script src="{% static "reviews/vendor/jquery/jquery.min.js"%}"></script>
    -->
    
    <!-- Custom styles for this template 
    <link href="{% static "reviews/css/1-col-portfolio.css"%}" rel="stylesheet">
    -->
  </head>

  <body>
    
      {% block content %}{% endblock content %}

  </body>

</html>